@import url('https://fonts.googleapis.com/css?family=Roboto|Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    max-height: 70%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #312f2f;
}

a.button {
    background-color: #312f2f;
    color: #84dccf;
    display: inline-block;
    padding: 0.6em 2.4em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

a.button:hover {
    cursor: pointer;
    border-color: rgba(255, 255, 255, 1);
}

h1 {
    color: #312f2f;
    width: 100%;
    padding: 1rem;
    background-color: #84dccf;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    border-top: 1px solid #71b9ae;
    border-bottom: 1px solid #71b9ae;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
}

.container {
    height: 80%;
    width: 60%;
    align-items: center;
    background-color: #84dccf;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 40px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 40px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 40px -15px rgba(0, 0, 0, 0.75);
}

.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
